.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .buttons-container {
    margin-bottom: 16px;
  }

  .board {
    border: 1px solid #ccc;
    div {
      display: flex;
    }
  }

  .stats {
    font-size: 18px;
    color: red;
    font-weight: 500;
    display: flex;
  }
}
